header  {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0 0 0;
}
@media (max-width: 768px) {
  header {
    padding: 0;
  }
}
header .logo_and_name {
  display: flex;
}
@media (max-width: 768px){
  header .logo_and_name {
    padding: 40px 0 0 32px;
  }
}
header .logo_name {
  margin: 0 0 0 12px;
}
header .nav {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 768px) {
  header .nav {
    display: none;
  }
}
header .nav .nav_item {
  margin: 0 0 0 48px;
}
header .nav .nav_item .nav_link {
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  font-family: Montseratt, sans-serif;
  font-weight: 500;
  line-height: 20px;
}
header .nav .nav_item .nav_link:hover {
  color: purple;
}
header .nav .nav_item .nav_link_register {
  color: #FEFEFE;
  background: linear-gradient(102.3deg, #647B64 -4.62%, #66AC66 178.22%), linear-gradient(102.3deg, #0BB1E3 -4.62%, #0F2976 178.22%), #0E70AF;
  border-radius: 3px;
  text-decoration: none;
  left: calc(50% - 93px/2 + 533px);
  top: calc(50% - 40px/2 - 1966px);
  padding: 10px 15px;
  font-size: 16px;
  font-family: Montseratt, sans-serif;
  font-weight: 500;
  line-height: 20px;
}
header .nav .nav_item .nav_link_register:hover {
  color: purple;
  background: wheat;
}
section .wrapper {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 58px 0 0 0;
}
section .wrapper .main_img {
  padding: 0 60px 0 0;
}
section .wrapper .main {
  padding: 0 0 0 40px;
}
section .wrapper .main  .main_text {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
section .wrapper .main  .main_text .main_text_main {
  font-family: Montseratt, sans-serif;
  font-size: 48px;
  line-height: 116%;
  font-weight: 500;
}
@media (max-width: 768px) {
  section .wrapper .main  .main_text .main_text_main {
    font-family: Montseratt, sans-serif;
    font-size: 24px;
    line-height: 116%;
    font-weight: 500;
  }
}
section .wrapper .main .main_text .main_text_description {
  font-family: Montseratt, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 132%;
  color: #4F4F4F;
  margin: 24px 0 32px 0;
}
@media (max-width: 768px) {
  section .wrapper .main .main_text .main_text_description {
    font-family: Montseratt, sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 132%;
    color: #4F4F4F;
    margin: 12px 0 16px 0;
  }
}
section .wrapper .main .main_text .main_button {
  color: #FEFEFE;
  background: linear-gradient(102.3deg, #647B64 -4.62%, #66AC66 178.22%), linear-gradient(102.3deg, #0BB1E3 -4.62%, #0F2976 178.22%), #0E70AF;
  border-radius: 2px;
  text-decoration: none;
  left: calc(50% - 93px/2 + 533px);
  top: calc(50% - 40px/2 - 1966px);
  padding: 27px 29px;
  font-size: 16px;
  font-family: Montseratt, sans-serif;
  font-weight: 600;
  line-height: 125%;
  display: inline-flex;
}
@media (max-width: 768px) {
  section .wrapper .main .main_text .main_button {
    color: #FEFEFE;
    background: linear-gradient(102.3deg, #647B64 -4.62%, #66AC66 178.22%), linear-gradient(102.3deg, #0BB1E3 -4.62%, #0F2976 178.22%), #0E70AF;
    border-radius: 2px;
    text-decoration: none;
    left: calc(50% - 93px/2 + 533px);
    top: calc(50% - 40px/2 - 1966px);
    padding: 15px 14px;
    font-size: 10px;
    font-family: Montseratt, sans-serif;
    font-weight: 600;
    line-height: 125%;
    display: flex;
  }
}
section .wrapper .main .main_text .main_button:hover {
  color: purple;
  background: wheat;
  cursor: pointer;
}
section .wrapper .main .main_text .main_button_vector {
  padding: 0 0 0 142px;
}
@media (max-width: 768px) {
  section .wrapper .main .main_text .main_button_vector {
    padding: 0 0 0 0;
  }
}

